@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --primary: #FF6600;
    --Default-color: #44425A;
    --grey: #a6a6a6;
    --white: #fff;
    --black: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
}
.none {
    display: none !important;
}

.text-primary {
    color: var(--primary) !important;
}

.overhiden {
    overflow: hidden;
}

.borderbottom {
    border-bottom: 1px solid var(--grey);
}

.topbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;

}

.topbar .logo {
    flex: 1;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--Default-color);
    font-weight: 900;
}

.topbar-item {
    display: flex;
    align-items: center;
    padding: 0 30px
}

.topbar-item i {
    margin-right: 20px;
    color: var(--primary);
    font-size: 30px;
}

.topbar-item div span {
    display: block;
    font-size: 16px;
    color: var(--Default-color);

}

.topbar-item div span:first-child {
    font-weight: 600;

}

.topbar-item div span:last-child {
    color: #7e7b9d;
}


.navication {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 50px;
}

.navication-list {
    flex: 1;

    height: 100%;
    display: flex;
    align-items: center;
}

.navication-list li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    position: relative;
}

/* First Child */
.navication-list li:first-child {
    flex-basis: 21%;
  


}

.navication-list li:first-child i {
    margin-right: 5px;
}

.navication-list li:first-child .navication-item {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    width: 100%;
    font-weight: 700;
}

.navication-list li:first-child .navication-icon {
    text-align: right;
    font-size: 15px;
}

.navication-list li:first-child:hover .navication_sub {
    display: block;
}

.navication_sub {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 65px;
    display: none;
    z-index: 2;
}

.navication_sub li:first-child {
    
}

.navication_sub li {
   
}

.navication_sub li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--Default-color);
}

.navication_sub li a:hover {
    color: var(--primary);
}

/*  */

.navication-list .navication-item {
    text-decoration: none;
}

.navication-list li .navication-item {
    display: block;
    font-size: 20px;
    color: var(--Default-color);
    font-weight: 500;
}

.navication-list li .navication-item:hover {
    color: var(--primary);
}

.navication-btn {
    margin: 0 30px;
}

.btn-more {
    padding: 12px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
}

.btn-more:hover {
    transition: .3s all;
    opacity: 0.7;
}


.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: relative;
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    position: relative;
   
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}
.carousel-content span {
    font-size: 20px;
    
    display: block;
    margin-bottom: 10px;
}
.carousel-content h2 {
    font-size: 60px;
    margin-bottom: 30px;
}

.indicator {
    position: absolute;
    width: 60px;
    z-index: 3;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.indicator-item {
    border: 5px solid var(--white);
    background-color: var(--Default-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
}
.indicator-item.active {
    background-color: var(--primary);
}

.aboutUs img
{ 
    width: 550px;
    height: 550px;
    border-radius: 20px;
}

.about-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: var(--Default-color);
}
.about-text span {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--primary);
}
.about-text h3 {
    font-size: 3.5rem;
    margin-bottom: 15px;

}

.about-text p {
    width: 100%;
   
    margin-bottom: 15px;
    color: var(--grey);
    line-height: 21px;
}

.category-head {
    text-align: center;
    margin-bottom: 5rem;
}
.category-head span {
    display: block;
    font-size: 2.9rem;
    margin-bottom: 2rem;
    color: var(--primary);
}
.category-head h1 {
    font-size: 3.8rem;
    color: var(--Default-color);
}

.category {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
}
.category-item {
    margin: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
   
}
.category-image {
    position: relative;
    width: 280px;
    height: 172px;    
    overflow: hidden;
    border-radius: 20px;
    
}
#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.category-image img {
   position: relative;
   width: 100%;
   height: 100%;
   transition: .3s all;
   background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3))
}
.category-item:hover img {
    transform: scale(1.1);
    transition: .3s all;

}
.category-item:hover .category-item-content  {
    
}
.category-item-content {
    width: 100%;
    height: calc(100% - 1%);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    z-index: 1;
}
.category-item-content:hover::after {
    width: 100px;
    transition: .3s all;
}
.category-item-content h3 {
    width: 200px;
    text-align: center;
    font-size: 2.8rem;
    color: var(--white);    
    
}

.category-item-content h3:hover {
    
}
.category-item-content::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #f2a;
    transition: .3s all;

}
.category-item-content span {
    font-size: 2.1rem;
    color: var(--white);
}

.card { 
    --border-radius-parent: 15px;
    --width-parent: 400px;
    width: var(--width-parent);
    background-color: rgba(242,241,247,255);
    border-radius: var(--border-radius-parent);
    margin: 10px 0;
}
.card + .card {
    margin: 10px;
}

.card img {
    border-top-right-radius: var(--border-radius-parent);
    border-top-left-radius: var(--border-radius-parent);
    width: var(--width-parent);
}
.card-inner {
    padding: 20px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-info span {
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #7f7c83;
}
.card-info span i {
    color: var(--primary);
    margin-right: 8px;
    font-weight: 500;
}

.card-title {
    color: #6f7290;
    font-size: 2rem;
}
.card-title::after {
    margin-top: 20px;
    content: "";
    width: 100%;
    background-color: #8a878e;
    height: 1px;
    display: block;
}

.card-rate i {
    font-weight: 900 !important;
}

.contact {
    background-color: rgba(0,0,0,0.5);
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/registration.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 660px;
    
}
.contact-details {
    width: 100%;
    height: 100%;
    padding: 20px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-info-text {
    color: var(--primary);
    font-size: 2.2rem;
    margin-bottom: 15px 0;
    letter-spacing: 5px;
}
.contact-info-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
    margin: 10px 0;
}
.contact-info-description {
    margin: 10px 0;
    font-size: 1.8rem;
    color: var(--white);
}
.contact-info-list {
    list-style: none;
}
.contact-info-list i {
    margin-right: 10px;
    color: var(--primary);
}
.contact-info-list li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: var(--white);
}


.contact-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.contact-cardH {
    padding: 30px;
    background-color: var(--primary);
    text-align: center;
    width: 400px;
    font-size: 3.3rem;
    color: var(--Default-color);
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contact-cardB {
    padding: 30px;
    background-color: var(--white);
    width: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contact-cardB input {
    width: 100%;
    margin: 15px 0;
    font-size: 1.6rem;
    padding: 12px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    color: var(--Default-color);
    
}
.btn-sign {
    margin: 20px 0;
    background-color: var(--Default-color);
    width: 100% !important;
    outline: none;
    border: none;
    color: var(--white);
    padding: 25px 0 !important;
    border-radius: 20px;
    font-size: 2.2rem;
    cursor: pointer;
}
#options {
    width: 100%;
    border-radius: 10px;
    font-size: 1.6rem;
    padding: 12px 20px;
    margin: 15px 0;
    outline: none;
    border: 1px solid #ccc;
}
.team {

}
.team-item {
    --boder-radius-parent: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    position: relative;
}
.team-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.team-image:hover .team-social {
    transition: .9s all;
    opacity: 1;
}
.team-item img {
    width: 100%;
    border-top-left-radius: var(--boder-radius-parent);
    border-top-right-radius: var(--boder-radius-parent);
    
}
.team-content {
    background-color: rgba(242,241,247,255);
    padding: 30px;
    text-align: center;
    border-bottom-left-radius: var(--boder-radius-parent);
    border-bottom-right-radius: var(--boder-radius-parent);
}
.team-content .name {
    display: block;
    font-size: 2.6rem;
    color: #434158;
    margin: 10px 0;
}
.team-content .position {
    font-size: 2rem;
    color: #646284;
}

.team-social {
    border-top-left-radius: var(--boder-radius-parent);
    border-top-right-radius: var(--boder-radius-parent);
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 66, 90, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .9s all;
    
}

.social-icon {
    margin: 0 5px;
    border: 1px solid var(--white);
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.social-icon:hover {
    background: var(--white);
}
.social-icon:hover i {
    color: var(--black);
}
.social-icon i {
    color: var(--white);
}
.testimonials {
    
}
.testimonials-content {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 50px;
    color: var(--Default-color);
}
.testimonials-item {
    text-align: center;
    display: block;
    position: relative;
}
.testimonials-user {
    --mg-parent: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials-user img {
    margin: var(--mg-parent) 0;
    width: 100px !important;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonials-user .name {
    margin: var(--mg-parent);
    font-size: 2.2rem;
    color: var(--Default-color);
}
.testimonials-user .position {
    margin: var(--mg-parent);
    font-size: 1.8rem;
    color: var(--Default-color);
}
.testimonials-icon {
    position: relative;
    font-size: 4rem;
    color: var(--primary);
    margin: 10px 0;
}

/*  */

.testimonials .owl-dots {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px 0;
}
.testimonials .owl-dot {
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary);
    margin: 0 10px;
    border-radius: 20px;
}
.testimonials .owl-dot:hover {
    background-color: var(--primary);
}
.testimonials .owl-dot.active {
    background-color: var(--primary);
}
/*  */
.testimonials .owl-nav {
    position: absolute;
    top: 45%;
    width: 100%;
}
.testimonials .owl-nav div {
    background-color: var(--Default-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.testimonials .owl-prev {
    float: left;
}
.testimonials .owl-next {
    float: right;
}


.blog {
    width: 370px;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.blog img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: scale(1);
    transition: .5s all;

}
.blog:hover img {
    transform: scale(1.1);
    transition: .5s all;
}
.blog-inner {
    position: absolute;
    border-radius: 10px;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    border-left: 30px solid transparent;
    flex-direction: column;
    background:linear-gradient(to top, rgba(68, 66, 90, 0.5), rgba(0, 0, 0, 0.3))
}
.blog-content {
    position: relative;
    color: var(--white);
    font-size: 1.8rem;
    bottom: 30px;
    font-weight: 700;
}
.blog-date {
    position: relative;
    bottom: 20px;
    
    font-size: 2rem;
    color: var(--primary);
}